.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-size: 41px;
  background: linear-gradient(140deg, rgba(2,0,36,1) 0%, rgba(127,127,227,1) 28%, rgba(0,142,171,1) 100%);
  padding-top: 200px;
}

.header {
  margin-bottom: 20px;

}

.inputs-container {
  display: flex;

}

.inputs-container > div {
  margin-top: 20px;
  margin-right: 20px;
}

.results-container {
  margin-top: 20px;
  display: flex;
}

.results-container > div {
  margin-top: 20px;
  margin-right: 20px;
}