.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-size: 41px;
  background: linear-gradient(140deg, rgba(2,0,36,1) 0%, rgba(127,127,227,1) 28%, rgba(0,142,171,1) 100%);
  padding-top: 200px;
}

@media only screen and (max-width: 600px) {
  .App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: unset;
    height: 100vh;
    font-size: 41px;
    background: linear-gradient(140deg, rgba(2,0,36,1) 0%, rgba(127,127,227,1) 28%, rgba(0,142,171,1) 100%);
    padding-top: 200px;
  }

  .results-container > div > div  {
    height: 100px;
  }

  .results-container > div > div > input {
    padding-top: 46px;
    text-align: center;
    font-size: 13px;
  }
}
.header {
  margin-bottom: 20px;

}

.inputs-container {
  display: flex;

}

.inputs-container > div {
  margin-top: 20px;
  margin-right: 20px;
}

.results-container {
  margin-top: 20px;
  display: flex;
}

.results-container > div {
  margin-top: 10px;
  margin-right: 20px;
}

.saturated-container {
  margin-top: 20px;
  height: 20px;
  font-size: 20px;
  color: black;
}

.links  {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.links > * {
  margin-right: 25px;
  font-size: 37px;
}